@using Microsoft.AspNetCore.Identity
@using soprosopro.Areas.Identity.Data
@model soprosopro.ViewModels.Filter
@inject UserManager<soprosoproUser> UserManager

@{
     ViewData["Title"] = "Movie Catalog";
}

<h3 style="color:darkblue">Movie Catalog from @ViewBag.Message </h3>
<hr/>

<form asp-controller="Movies" asp-action="MoviesClient"  asp-route-userID=@UserManager.GetUserId(User)>
    <p>
        Title: <input type="text" asp-for="searchTitle" />
       
        <input type="submit" value="Filter" />
    </p>
</form>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Movies[0].Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Movies[0].Genres)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Movies[0].Actors)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Movies[0].Directors)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Movies[0].Producers)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Movies)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
              @if (item.Genres!=null)
              {
                       foreach(var g in item.Genres){

                            <a asp-controller="Genres" asp-action="Details" asp-route-id="@g.GenreId"> @g.Genres.Type </a> <br/>
                       }                        
                    }
                </td>

                 <td>
                
              @if (item.Actors!=null)
              {
                       foreach(var g in item.Actors){

                            <a asp-controller="People" asp-action="Details" asp-route-id="@g.ActorId"> @g.Actor.Name </a> <br/>
                       }
                        
                    }
                </td>
                 
                  <td>
                
              @if (item.Directors!=null)
              {
                       foreach(var g in item.Directors){

                            <a asp-controller="People" asp-action="Details" asp-route-id="@g.DirectorId"> @g.Director.Name </a> <br/>
                       }
                        
                    }
                </td>
               <td>
                
              @if (item.Producers!=null)
              {
                       foreach(var g in item.Producers){

                            <a asp-controller="People" asp-action="Details" asp-route-id="@g.ProducerId"> @g.Producer.Name </a> <br/>
                       }
                        
                    }
                </td>
                <td>  
                    <a asp-action="Edit" asp-route-id="@item.MovieId">Edit</a> |   @*error*@
                    <a asp-action="Details" asp-route-id="@item.MovieId">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.MovieId">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
